.App {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* shadow bottom */ 0 -4px 8px rgba(0, 0, 0, 0.1),
    /* shadow top */ -4px 0 8px rgba(0, 0, 0, 0.1),
    /* shadow left */ 4px 0 8px rgba(0, 0, 0, 0.1); /* shadow right */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Đảm bảo chiều cao toàn bộ màn hình */
}

.content {
  flex: 1; /* Chiếm hết không gian còn lại */
}

.footer {
  margin-top: auto; /* Đảm bảo Footer luôn ở dưới cùng */
}